body {
  display: grid;
  font-family: Arial, sans-serif;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto auto auto;
 
}

.o-header {
  grid-area: header;
  padding: 0.1rem;
  opacity: 4.;
}

.o-aside {
  grid-area: aside;
}

.o-main {
  grid-area: main;
}

.o-footer {
  grid-area: footer;
  padding: 0.8rem;
}

.o-header, .o-aside, .o-main, .o-footer {
  background: rgba(100,149,237,0.4);
  color: #000000;
  padding: 50px;

}

